<div class="table-container">
  <div class="table-header">
    <p>Untiered Runs</p>
  </div>
  <div class="table-box">
    <app-daypilot-poc-four></app-daypilot-poc-four>
  </div>
</div>


<div class="table-container">
  <div class="table-header">
    <p>Untiered Runs</p>
  </div>
  <div class="table-box">
    <app-daypilot-poc-three></app-daypilot-poc-three>

    <div class="info">
      <div class="info-calendar">
        <img class="info-image" src="../../assets/calendar-check-regular.svg" alt="check">
      </div>
      <div class="info-calendar">
        <img class="info-image" src="../../assets/calendar-times-regular.svg" alt="check">
      </div>
    </div>

    <div class="status">
      <div class="status-container">
        <div class="status-info">
          <div class="status-circle status-circle--active"></div>
          <p class="status-text">Active Run</p>
        </div>

        <div class="status-info">
          <div class="status-circle status-circle--inactive"></div>
          <p class="status-text">Inactive Run</p>
        </div>

        <div class="status-info">
          <div class="status-circle status-circle--conflict"></div>
          <p class="status-text">Time Conflict</p>
        </div>

        <div class="status-info">
          <div class="status-circle status-circle--prepost"></div>
          <p class="status-text">Pre-Post Trip</p>
        </div>

        <div class="status-info">
          <div class="status-circle status-circle--deadhead"></div>
          <p class="status-text">Dead Head</p>
        </div>

        <div class="status-info">
          <div class="status-circle status-circle--standby"></div>
          <p class="status-text">Stand-by</p>
        </div>

        <div class="status-info">
          <div class="status-circle status-circle--connection"></div>
          <p class="status-text">Runs Connection</p>
        </div>
      </div>
    </div>

  </div>
</div>
