.table-container {
  padding: 20px;
}

.table-box {
  background: #fff;
  padding: 0 20px 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.table-header {
  background: #d7deea;
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.2);
  p {
    padding: 15px 25px;
    margin: 0;
    color: #3c424a;
    font-family: "roboto";
    font-weight: 700;
  }
}

.status {
  padding: 20px 10px 0;

  &-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-info {
    display: flex;
    align-items: center;
  }
  &-img {
    width: 22px;
    height: 22px;
  }
  &-text {
    margin-left: 10px;
    font-size: 14px;
    color: #696969;
  }
  &-circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
    &--active {
      width: 20px;
      height: 20px;
      background-color: #c5edff;
      border: 1px solid #7db4cf;
    }
    &--inactive {
      background-color: #BABABA;
    }
    &--conflict {
      width: 20px;
      height: 20px;
      border: 1px solid #E4002B;
      background-color: #EC2248;
    }
    &--prepost {
      background: rgba(220,232,207,1);
      background: -moz-linear-gradient(-45deg, rgba(220,232,207,1) 0%, rgba(220,232,207,1) 1%, rgba(175,184,163,1) 3%, rgba(220,232,207,1) 5%, rgba(220,232,207,1) 8%, rgba(175,184,163,1) 10%, rgba(220,232,207,1) 12%, rgba(220,232,207,1) 16%, rgba(175,184,163,1) 18%, rgba(220,232,207,1) 20%, rgba(220,232,207,1) 25%, rgba(175,184,163,1) 27%, rgba(220,232,207,1) 30%, rgba(220,232,207,1) 35%, rgba(175,184,163,1) 37%, rgba(220,232,207,1) 39%, rgba(220,232,207,1) 44%, rgba(175,184,163,1) 46%, rgba(220,232,207,1) 48%, rgba(220,232,207,1) 53%, rgba(175,184,163,1) 55%, rgba(220,232,207,1) 57%, rgba(220,232,207,1) 62%, rgba(175,184,163,1) 64%, rgba(220,232,207,1) 66%, rgba(220,232,207,1) 72%, rgba(175,184,163,1) 74%, rgba(220,232,207,1) 76%, rgba(220,232,207,1) 82%, rgba(175,184,163,1) 84%, rgba(220,232,207,1) 86%, rgba(220,232,207,1) 92%, rgba(175,184,163,1) 94%, rgba(220,232,207,1) 96%, rgba(220,232,207,1) 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(220,232,207,1)), color-stop(1%, rgba(220,232,207,1)), color-stop(3%, rgba(175,184,163,1)), color-stop(5%, rgba(220,232,207,1)), color-stop(8%, rgba(220,232,207,1)), color-stop(10%, rgba(175,184,163,1)), color-stop(12%, rgba(220,232,207,1)), color-stop(16%, rgba(220,232,207,1)), color-stop(18%, rgba(175,184,163,1)), color-stop(20%, rgba(220,232,207,1)), color-stop(25%, rgba(220,232,207,1)), color-stop(27%, rgba(175,184,163,1)), color-stop(30%, rgba(220,232,207,1)), color-stop(35%, rgba(220,232,207,1)), color-stop(37%, rgba(175,184,163,1)), color-stop(39%, rgba(220,232,207,1)), color-stop(44%, rgba(220,232,207,1)), color-stop(46%, rgba(175,184,163,1)), color-stop(48%, rgba(220,232,207,1)), color-stop(53%, rgba(220,232,207,1)), color-stop(55%, rgba(175,184,163,1)), color-stop(57%, rgba(220,232,207,1)), color-stop(62%, rgba(220,232,207,1)), color-stop(64%, rgba(175,184,163,1)), color-stop(66%, rgba(220,232,207,1)), color-stop(72%, rgba(220,232,207,1)), color-stop(74%, rgba(175,184,163,1)), color-stop(76%, rgba(220,232,207,1)), color-stop(82%, rgba(220,232,207,1)), color-stop(84%, rgba(175,184,163,1)), color-stop(86%, rgba(220,232,207,1)), color-stop(92%, rgba(220,232,207,1)), color-stop(94%, rgba(175,184,163,1)), color-stop(96%, rgba(220,232,207,1)), color-stop(100%, rgba(220,232,207,1)));
      background: -webkit-linear-gradient(-45deg, rgba(220,232,207,1) 0%, rgba(220,232,207,1) 1%, rgba(175,184,163,1) 3%, rgba(220,232,207,1) 5%, rgba(220,232,207,1) 8%, rgba(175,184,163,1) 10%, rgba(220,232,207,1) 12%, rgba(220,232,207,1) 16%, rgba(175,184,163,1) 18%, rgba(220,232,207,1) 20%, rgba(220,232,207,1) 25%, rgba(175,184,163,1) 27%, rgba(220,232,207,1) 30%, rgba(220,232,207,1) 35%, rgba(175,184,163,1) 37%, rgba(220,232,207,1) 39%, rgba(220,232,207,1) 44%, rgba(175,184,163,1) 46%, rgba(220,232,207,1) 48%, rgba(220,232,207,1) 53%, rgba(175,184,163,1) 55%, rgba(220,232,207,1) 57%, rgba(220,232,207,1) 62%, rgba(175,184,163,1) 64%, rgba(220,232,207,1) 66%, rgba(220,232,207,1) 72%, rgba(175,184,163,1) 74%, rgba(220,232,207,1) 76%, rgba(220,232,207,1) 82%, rgba(175,184,163,1) 84%, rgba(220,232,207,1) 86%, rgba(220,232,207,1) 92%, rgba(175,184,163,1) 94%, rgba(220,232,207,1) 96%, rgba(220,232,207,1) 100%);
      background: -o-linear-gradient(-45deg, rgba(220,232,207,1) 0%, rgba(220,232,207,1) 1%, rgba(175,184,163,1) 3%, rgba(220,232,207,1) 5%, rgba(220,232,207,1) 8%, rgba(175,184,163,1) 10%, rgba(220,232,207,1) 12%, rgba(220,232,207,1) 16%, rgba(175,184,163,1) 18%, rgba(220,232,207,1) 20%, rgba(220,232,207,1) 25%, rgba(175,184,163,1) 27%, rgba(220,232,207,1) 30%, rgba(220,232,207,1) 35%, rgba(175,184,163,1) 37%, rgba(220,232,207,1) 39%, rgba(220,232,207,1) 44%, rgba(175,184,163,1) 46%, rgba(220,232,207,1) 48%, rgba(220,232,207,1) 53%, rgba(175,184,163,1) 55%, rgba(220,232,207,1) 57%, rgba(220,232,207,1) 62%, rgba(175,184,163,1) 64%, rgba(220,232,207,1) 66%, rgba(220,232,207,1) 72%, rgba(175,184,163,1) 74%, rgba(220,232,207,1) 76%, rgba(220,232,207,1) 82%, rgba(175,184,163,1) 84%, rgba(220,232,207,1) 86%, rgba(220,232,207,1) 92%, rgba(175,184,163,1) 94%, rgba(220,232,207,1) 96%, rgba(220,232,207,1) 100%);
      background: -ms-linear-gradient(-45deg, rgba(220,232,207,1) 0%, rgba(220,232,207,1) 1%, rgba(175,184,163,1) 3%, rgba(220,232,207,1) 5%, rgba(220,232,207,1) 8%, rgba(175,184,163,1) 10%, rgba(220,232,207,1) 12%, rgba(220,232,207,1) 16%, rgba(175,184,163,1) 18%, rgba(220,232,207,1) 20%, rgba(220,232,207,1) 25%, rgba(175,184,163,1) 27%, rgba(220,232,207,1) 30%, rgba(220,232,207,1) 35%, rgba(175,184,163,1) 37%, rgba(220,232,207,1) 39%, rgba(220,232,207,1) 44%, rgba(175,184,163,1) 46%, rgba(220,232,207,1) 48%, rgba(220,232,207,1) 53%, rgba(175,184,163,1) 55%, rgba(220,232,207,1) 57%, rgba(220,232,207,1) 62%, rgba(175,184,163,1) 64%, rgba(220,232,207,1) 66%, rgba(220,232,207,1) 72%, rgba(175,184,163,1) 74%, rgba(220,232,207,1) 76%, rgba(220,232,207,1) 82%, rgba(175,184,163,1) 84%, rgba(220,232,207,1) 86%, rgba(220,232,207,1) 92%, rgba(175,184,163,1) 94%, rgba(220,232,207,1) 96%, rgba(220,232,207,1) 100%);
      background: linear-gradient(135deg, rgba(220,232,207,1) 0%, rgba(220,232,207,1) 1%, rgba(175,184,163,1) 3%, rgba(220,232,207,1) 5%, rgba(220,232,207,1) 8%, rgba(175,184,163,1) 10%, rgba(220,232,207,1) 12%, rgba(220,232,207,1) 16%, rgba(175,184,163,1) 18%, rgba(220,232,207,1) 20%, rgba(220,232,207,1) 25%, rgba(175,184,163,1) 27%, rgba(220,232,207,1) 30%, rgba(220,232,207,1) 35%, rgba(175,184,163,1) 37%, rgba(220,232,207,1) 39%, rgba(220,232,207,1) 44%, rgba(175,184,163,1) 46%, rgba(220,232,207,1) 48%, rgba(220,232,207,1) 53%, rgba(175,184,163,1) 55%, rgba(220,232,207,1) 57%, rgba(220,232,207,1) 62%, rgba(175,184,163,1) 64%, rgba(220,232,207,1) 66%, rgba(220,232,207,1) 72%, rgba(175,184,163,1) 74%, rgba(220,232,207,1) 76%, rgba(220,232,207,1) 82%, rgba(175,184,163,1) 84%, rgba(220,232,207,1) 86%, rgba(220,232,207,1) 92%, rgba(175,184,163,1) 94%, rgba(220,232,207,1) 96%, rgba(220,232,207,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dce8cf', endColorstr='#dce8cf', GradientType=1 );
    }
    &--deadhead {
      background: rgba(249,171,75,1);
      background: -moz-linear-gradient(top, rgba(249,171,75,1) 0%, rgba(249,171,75,1) 35%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(249,171,75,1) 65%, rgba(249,171,75,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(249,171,75,1)), color-stop(35%, rgba(249,171,75,1)), color-stop(40%, rgba(255,255,255,1)), color-stop(60%, rgba(255,255,255,1)), color-stop(65%, rgba(249,171,75,1)), color-stop(100%, rgba(249,171,75,1)));
      background: -webkit-linear-gradient(top, rgba(249,171,75,1) 0%, rgba(249,171,75,1) 35%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(249,171,75,1) 65%, rgba(249,171,75,1) 100%);
      background: -o-linear-gradient(top, rgba(249,171,75,1) 0%, rgba(249,171,75,1) 35%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(249,171,75,1) 65%, rgba(249,171,75,1) 100%);
      background: -ms-linear-gradient(top, rgba(249,171,75,1) 0%, rgba(249,171,75,1) 35%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(249,171,75,1) 65%, rgba(249,171,75,1) 100%);
      background: linear-gradient(to bottom, rgba(249,171,75,1) 0%, rgba(249,171,75,1) 35%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(249,171,75,1) 65%, rgba(249,171,75,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9ab4b', endColorstr='#f9ab4b', GradientType=0 );
    }
    &--standby {
      background: #B992E0;
    }
    &--connection {
      background: rgba(59,147,215,1);
      background: -moz-linear-gradient(top, rgba(59,147,215,1) 0%, rgba(59,147,215,1) 35%, rgba(255,255,255,1) 40%, rgba(59,147,215,1) 50%, rgba(255,255,255,1) 60%, rgba(59,147,215,1) 65%, rgba(59,147,215,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(59,147,215,1)), color-stop(35%, rgba(59,147,215,1)), color-stop(40%, rgba(255,255,255,1)), color-stop(50%, rgba(59,147,215,1)), color-stop(60%, rgba(255,255,255,1)), color-stop(65%, rgba(59,147,215,1)), color-stop(100%, rgba(59,147,215,1)));
      background: -webkit-linear-gradient(top, rgba(59,147,215,1) 0%, rgba(59,147,215,1) 35%, rgba(255,255,255,1) 40%, rgba(59,147,215,1) 50%, rgba(255,255,255,1) 60%, rgba(59,147,215,1) 65%, rgba(59,147,215,1) 100%);
      background: -o-linear-gradient(top, rgba(59,147,215,1) 0%, rgba(59,147,215,1) 35%, rgba(255,255,255,1) 40%, rgba(59,147,215,1) 50%, rgba(255,255,255,1) 60%, rgba(59,147,215,1) 65%, rgba(59,147,215,1) 100%);
      background: -ms-linear-gradient(top, rgba(59,147,215,1) 0%, rgba(59,147,215,1) 35%, rgba(255,255,255,1) 40%, rgba(59,147,215,1) 50%, rgba(255,255,255,1) 60%, rgba(59,147,215,1) 65%, rgba(59,147,215,1) 100%);
      background: linear-gradient(to bottom, rgba(59,147,215,1) 0%, rgba(59,147,215,1) 35%, rgba(255,255,255,1) 40%, rgba(59,147,215,1) 50%, rgba(255,255,255,1) 60%, rgba(59,147,215,1) 65%, rgba(59,147,215,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b93d7', endColorstr='#3b93d7', GradientType=0 );  
    }
  }
}

.drop {
  border: 1px dashed #979797;
  border-radius: 4px;
  &-element {
    margin: 2px;
    background: rgba(#D7DEEA, .3);
    padding: 8px;
  }
  &-text {
    margin: 0;
    text-align: center;
    color: #5B616A;
  }
}

.info {
  margin: 20px 0;
  &-calendar {
    border-bottom: 1px solid #F1F1F1;
    background: #fbfbfb;
  }
  &-image {
    height: 20px;
    width: 20px;
    padding: 5px 0;
  }
}
