<p>timeline works!</p>

<div>
 <app-timeline-grid [columns]="columns" 
 [columnsArray]="columnsArray" 
 [columnWidth]="columnWidth" 
 [columnsTitles]="columnsTitles" 
 [columnsSubTitles]="columnsSubTitles"
 [amColSpan] = "amColSpan"
 [pmColSpan] = "pmColSpan"
 [columnsHourTitles] = "columnsHourTitles"
 [runList] = "runList"
 
 
 ></app-timeline-grid>
   
  
</div>