.scheduler_default_timeheadercol_inner {
  background-color: white;
}

.scheduler_default_corner {
  color: #000;
  background-color: yellow;
}

.scheduler_default_corner_inner {
  color: #000;
  background-color: yellow;
}
