.container{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
}


table{
    background-color: #ffff;
    border-spacing: 0px;
}

td {
    width: 21px;
    min-width: 21px;
    max-width: 21px;
    padding: 3px 0px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #f1f1f1;

    &:first-of-type {
        border-left: 1px solid transparent;
    }

    &.sf-timeline-header {
        text-align: center;
    }
}


.sf-timeline-grid-tables{
    position: relative;

    .sf-timeline-rows{
        position: absolute;
        td{
            background-color: transparent;
        }

    }

    .sf-timeline-columns{
        position: absolute;
        td{
            background-color: transparent;
            border-bottom: 0px solid transparent;
        }

    }

    .sf-timeline-runs{

        .sf-timeline-run{
            position: relative;
        }

    }


    

}
