


<div class="sf-timeline-grid-header">
    <div class="sf-timeline-grid-header-wrap">
        <table role="presentation">
            <colgroup>
                <col *ngFor="let x of columns|times">
            </colgroup>
            <tbody>
                <tr>
                    <td class="sf-timeline-sub-header" colspan="4" *ngFor="let columnHourTitle of columnsHourTitles" class="">
                        {{columnHourTitle}}
                    </td>
                </tr>
                <tr>
                    <td class="sf-timeline-sub-header" *ngFor="let columnTitle of columnsTitles" class="">
                        {{columnTitle}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="sf-timeline-grid-content">
    <div class="sf-timeline-grid-tables">
        <table role="presentation" class="sf-timeline-rows" [style.width.px]= "rowSize">
            <colgroup>
                <col>
            </colgroup>
            <tbody>
                <tr *ngFor="let run of runList"> <!--Here should go the size of the list of runs-->
                    <td [style.height.px]= "rowHeight">&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <table role="presentation" class="sf-timeline-columns">
            <colgroup>
                <col *ngFor="let x of columns|times">
            </colgroup>
            <tbody>
                <tr> 
                    <td class="sf-timeline-header" [style.height.px]= "columnHeight" *ngFor="let x of (columns)|times"></td>
                </tr>
            </tbody>
        </table>
        <table role="presentation" class="sf-timeline-runs" [style.width.px]= "rowSize">
            <colgroup>
                <col>
            </colgroup>
            <tbody>
                <tr *ngFor="let run of runList"> <!--Here should go the size of the list of runs-->
                    <td  class="sf-timeline-run" [style.height.px]= "rowHeight">

                        <app-run [startTime]="run.startTime"  [endTime]="run.endTime"  [rangeStartTime]="'4:00'" [run] ="run"> </app-run>
                      
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
