<div class="sf-timeline-run" [style.width.px]= "widthInPx" [style.left.px]="initialPx" >
    <p> To: B </p>
    <span>M</span> <span>Tu</span> <span>W</span> <span>Th</span> <span>F</span> <span>Sa</span> <span>Su</span>

</div>