.sf-timeline-run{
    position: absolute;
    background-color: #c0edff;
    height: 30px;
    margin: 3px 0px;
    border-radius: 3px;
    bottom: 0;
    font-size: 14px;
    border-left: 4px solid #75b4cd;
    padding: 3px;

    p{
        padding: 0px;
        padding-left: 2px;
        margin: 0px;
        text-align: left;
    }

    span{
        margin: 0px 3px;
    }

}