/* You can add global styles to this file, and also import other style files */
.scheduler_default_timeheadercol_inner {
  background-color: white;
}

.scheduler_default_corner {
  background-color: white;
}

.scheduler_default_corner_inner {
  color: #000;
  background-color: white;
}

.scheduler_default_columnheader {
  height: 100px;
}

.scheduler_default_link_arrow_right::before {
  display: none;
}

.scheduler_default_link_horizontal {
  background: rgba(249, 171, 75, 1);
  background: -moz-linear-gradient(
    top,
    rgba(249, 171, 75, 1) 0%,
    rgba(249, 171, 75, 1) 35%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 1) 60%,
    rgba(249, 171, 75, 1) 65%,
    rgba(249, 171, 75, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(249, 171, 75, 1)),
    color-stop(35%, rgba(249, 171, 75, 1)),
    color-stop(40%, rgba(255, 255, 255, 1)),
    color-stop(60%, rgba(255, 255, 255, 1)),
    color-stop(65%, rgba(249, 171, 75, 1)),
    color-stop(100%, rgba(249, 171, 75, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(249, 171, 75, 1) 0%,
    rgba(249, 171, 75, 1) 35%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 1) 60%,
    rgba(249, 171, 75, 1) 65%,
    rgba(249, 171, 75, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(249, 171, 75, 1) 0%,
    rgba(249, 171, 75, 1) 35%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 1) 60%,
    rgba(249, 171, 75, 1) 65%,
    rgba(249, 171, 75, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(249, 171, 75, 1) 0%,
    rgba(249, 171, 75, 1) 35%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 1) 60%,
    rgba(249, 171, 75, 1) 65%,
    rgba(249, 171, 75, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(249, 171, 75, 1) 0%,
    rgba(249, 171, 75, 1) 35%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 1) 60%,
    rgba(249, 171, 75, 1) 65%,
    rgba(249, 171, 75, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9ab4b', endColorstr='#f9ab4b', GradientType=0 );
  height: 17px !important;
  transform: translateY(-10px);
  border-bottom-style: none !important;
}

.eventClass {
  padding: 2px 5px !important;
  height: 17px;
  transform: translateY(8px);
}

.scheduler_default_event {
  font-size: 10px !important;
  font-weight: 600;
  span {
    font-size: 8px;
  }

  .eventClass:nth-of-type(2) {
    background: rgba(220, 232, 207, 1);
    background: -moz-linear-gradient(
      -45deg,
      rgba(220, 232, 207, 1) 0%,
      rgba(220, 232, 207, 1) 1%,
      rgba(175, 184, 163, 1) 3%,
      rgba(220, 232, 207, 1) 5%,
      rgba(220, 232, 207, 1) 8%,
      rgba(175, 184, 163, 1) 10%,
      rgba(220, 232, 207, 1) 12%,
      rgba(220, 232, 207, 1) 16%,
      rgba(175, 184, 163, 1) 18%,
      rgba(220, 232, 207, 1) 20%,
      rgba(220, 232, 207, 1) 25%,
      rgba(175, 184, 163, 1) 27%,
      rgba(220, 232, 207, 1) 30%,
      rgba(220, 232, 207, 1) 35%,
      rgba(175, 184, 163, 1) 37%,
      rgba(220, 232, 207, 1) 39%,
      rgba(220, 232, 207, 1) 44%,
      rgba(175, 184, 163, 1) 46%,
      rgba(220, 232, 207, 1) 48%,
      rgba(220, 232, 207, 1) 53%,
      rgba(175, 184, 163, 1) 55%,
      rgba(220, 232, 207, 1) 57%,
      rgba(220, 232, 207, 1) 62%,
      rgba(175, 184, 163, 1) 64%,
      rgba(220, 232, 207, 1) 66%,
      rgba(220, 232, 207, 1) 72%,
      rgba(175, 184, 163, 1) 74%,
      rgba(220, 232, 207, 1) 76%,
      rgba(220, 232, 207, 1) 82%,
      rgba(175, 184, 163, 1) 84%,
      rgba(220, 232, 207, 1) 86%,
      rgba(220, 232, 207, 1) 92%,
      rgba(175, 184, 163, 1) 94%,
      rgba(220, 232, 207, 1) 96%,
      rgba(220, 232, 207, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      right bottom,
      color-stop(0%, rgba(220, 232, 207, 1)),
      color-stop(1%, rgba(220, 232, 207, 1)),
      color-stop(3%, rgba(175, 184, 163, 1)),
      color-stop(5%, rgba(220, 232, 207, 1)),
      color-stop(8%, rgba(220, 232, 207, 1)),
      color-stop(10%, rgba(175, 184, 163, 1)),
      color-stop(12%, rgba(220, 232, 207, 1)),
      color-stop(16%, rgba(220, 232, 207, 1)),
      color-stop(18%, rgba(175, 184, 163, 1)),
      color-stop(20%, rgba(220, 232, 207, 1)),
      color-stop(25%, rgba(220, 232, 207, 1)),
      color-stop(27%, rgba(175, 184, 163, 1)),
      color-stop(30%, rgba(220, 232, 207, 1)),
      color-stop(35%, rgba(220, 232, 207, 1)),
      color-stop(37%, rgba(175, 184, 163, 1)),
      color-stop(39%, rgba(220, 232, 207, 1)),
      color-stop(44%, rgba(220, 232, 207, 1)),
      color-stop(46%, rgba(175, 184, 163, 1)),
      color-stop(48%, rgba(220, 232, 207, 1)),
      color-stop(53%, rgba(220, 232, 207, 1)),
      color-stop(55%, rgba(175, 184, 163, 1)),
      color-stop(57%, rgba(220, 232, 207, 1)),
      color-stop(62%, rgba(220, 232, 207, 1)),
      color-stop(64%, rgba(175, 184, 163, 1)),
      color-stop(66%, rgba(220, 232, 207, 1)),
      color-stop(72%, rgba(220, 232, 207, 1)),
      color-stop(74%, rgba(175, 184, 163, 1)),
      color-stop(76%, rgba(220, 232, 207, 1)),
      color-stop(82%, rgba(220, 232, 207, 1)),
      color-stop(84%, rgba(175, 184, 163, 1)),
      color-stop(86%, rgba(220, 232, 207, 1)),
      color-stop(92%, rgba(220, 232, 207, 1)),
      color-stop(94%, rgba(175, 184, 163, 1)),
      color-stop(96%, rgba(220, 232, 207, 1)),
      color-stop(100%, rgba(220, 232, 207, 1))
    );
    background: -webkit-linear-gradient(
      -45deg,
      rgba(220, 232, 207, 1) 0%,
      rgba(220, 232, 207, 1) 1%,
      rgba(175, 184, 163, 1) 3%,
      rgba(220, 232, 207, 1) 5%,
      rgba(220, 232, 207, 1) 8%,
      rgba(175, 184, 163, 1) 10%,
      rgba(220, 232, 207, 1) 12%,
      rgba(220, 232, 207, 1) 16%,
      rgba(175, 184, 163, 1) 18%,
      rgba(220, 232, 207, 1) 20%,
      rgba(220, 232, 207, 1) 25%,
      rgba(175, 184, 163, 1) 27%,
      rgba(220, 232, 207, 1) 30%,
      rgba(220, 232, 207, 1) 35%,
      rgba(175, 184, 163, 1) 37%,
      rgba(220, 232, 207, 1) 39%,
      rgba(220, 232, 207, 1) 44%,
      rgba(175, 184, 163, 1) 46%,
      rgba(220, 232, 207, 1) 48%,
      rgba(220, 232, 207, 1) 53%,
      rgba(175, 184, 163, 1) 55%,
      rgba(220, 232, 207, 1) 57%,
      rgba(220, 232, 207, 1) 62%,
      rgba(175, 184, 163, 1) 64%,
      rgba(220, 232, 207, 1) 66%,
      rgba(220, 232, 207, 1) 72%,
      rgba(175, 184, 163, 1) 74%,
      rgba(220, 232, 207, 1) 76%,
      rgba(220, 232, 207, 1) 82%,
      rgba(175, 184, 163, 1) 84%,
      rgba(220, 232, 207, 1) 86%,
      rgba(220, 232, 207, 1) 92%,
      rgba(175, 184, 163, 1) 94%,
      rgba(220, 232, 207, 1) 96%,
      rgba(220, 232, 207, 1) 100%
    );
    background: -o-linear-gradient(
      -45deg,
      rgba(220, 232, 207, 1) 0%,
      rgba(220, 232, 207, 1) 1%,
      rgba(175, 184, 163, 1) 3%,
      rgba(220, 232, 207, 1) 5%,
      rgba(220, 232, 207, 1) 8%,
      rgba(175, 184, 163, 1) 10%,
      rgba(220, 232, 207, 1) 12%,
      rgba(220, 232, 207, 1) 16%,
      rgba(175, 184, 163, 1) 18%,
      rgba(220, 232, 207, 1) 20%,
      rgba(220, 232, 207, 1) 25%,
      rgba(175, 184, 163, 1) 27%,
      rgba(220, 232, 207, 1) 30%,
      rgba(220, 232, 207, 1) 35%,
      rgba(175, 184, 163, 1) 37%,
      rgba(220, 232, 207, 1) 39%,
      rgba(220, 232, 207, 1) 44%,
      rgba(175, 184, 163, 1) 46%,
      rgba(220, 232, 207, 1) 48%,
      rgba(220, 232, 207, 1) 53%,
      rgba(175, 184, 163, 1) 55%,
      rgba(220, 232, 207, 1) 57%,
      rgba(220, 232, 207, 1) 62%,
      rgba(175, 184, 163, 1) 64%,
      rgba(220, 232, 207, 1) 66%,
      rgba(220, 232, 207, 1) 72%,
      rgba(175, 184, 163, 1) 74%,
      rgba(220, 232, 207, 1) 76%,
      rgba(220, 232, 207, 1) 82%,
      rgba(175, 184, 163, 1) 84%,
      rgba(220, 232, 207, 1) 86%,
      rgba(220, 232, 207, 1) 92%,
      rgba(175, 184, 163, 1) 94%,
      rgba(220, 232, 207, 1) 96%,
      rgba(220, 232, 207, 1) 100%
    );
    background: -ms-linear-gradient(
      -45deg,
      rgba(220, 232, 207, 1) 0%,
      rgba(220, 232, 207, 1) 1%,
      rgba(175, 184, 163, 1) 3%,
      rgba(220, 232, 207, 1) 5%,
      rgba(220, 232, 207, 1) 8%,
      rgba(175, 184, 163, 1) 10%,
      rgba(220, 232, 207, 1) 12%,
      rgba(220, 232, 207, 1) 16%,
      rgba(175, 184, 163, 1) 18%,
      rgba(220, 232, 207, 1) 20%,
      rgba(220, 232, 207, 1) 25%,
      rgba(175, 184, 163, 1) 27%,
      rgba(220, 232, 207, 1) 30%,
      rgba(220, 232, 207, 1) 35%,
      rgba(175, 184, 163, 1) 37%,
      rgba(220, 232, 207, 1) 39%,
      rgba(220, 232, 207, 1) 44%,
      rgba(175, 184, 163, 1) 46%,
      rgba(220, 232, 207, 1) 48%,
      rgba(220, 232, 207, 1) 53%,
      rgba(175, 184, 163, 1) 55%,
      rgba(220, 232, 207, 1) 57%,
      rgba(220, 232, 207, 1) 62%,
      rgba(175, 184, 163, 1) 64%,
      rgba(220, 232, 207, 1) 66%,
      rgba(220, 232, 207, 1) 72%,
      rgba(175, 184, 163, 1) 74%,
      rgba(220, 232, 207, 1) 76%,
      rgba(220, 232, 207, 1) 82%,
      rgba(175, 184, 163, 1) 84%,
      rgba(220, 232, 207, 1) 86%,
      rgba(220, 232, 207, 1) 92%,
      rgba(175, 184, 163, 1) 94%,
      rgba(220, 232, 207, 1) 96%,
      rgba(220, 232, 207, 1) 100%
    );
    background: linear-gradient(
      135deg,
      rgba(220, 232, 207, 1) 0%,
      rgba(220, 232, 207, 1) 1%,
      rgba(175, 184, 163, 1) 3%,
      rgba(220, 232, 207, 1) 5%,
      rgba(220, 232, 207, 1) 8%,
      rgba(175, 184, 163, 1) 10%,
      rgba(220, 232, 207, 1) 12%,
      rgba(220, 232, 207, 1) 16%,
      rgba(175, 184, 163, 1) 18%,
      rgba(220, 232, 207, 1) 20%,
      rgba(220, 232, 207, 1) 25%,
      rgba(175, 184, 163, 1) 27%,
      rgba(220, 232, 207, 1) 30%,
      rgba(220, 232, 207, 1) 35%,
      rgba(175, 184, 163, 1) 37%,
      rgba(220, 232, 207, 1) 39%,
      rgba(220, 232, 207, 1) 44%,
      rgba(175, 184, 163, 1) 46%,
      rgba(220, 232, 207, 1) 48%,
      rgba(220, 232, 207, 1) 53%,
      rgba(175, 184, 163, 1) 55%,
      rgba(220, 232, 207, 1) 57%,
      rgba(220, 232, 207, 1) 62%,
      rgba(175, 184, 163, 1) 64%,
      rgba(220, 232, 207, 1) 66%,
      rgba(220, 232, 207, 1) 72%,
      rgba(175, 184, 163, 1) 74%,
      rgba(220, 232, 207, 1) 76%,
      rgba(220, 232, 207, 1) 82%,
      rgba(175, 184, 163, 1) 84%,
      rgba(220, 232, 207, 1) 86%,
      rgba(220, 232, 207, 1) 92%,
      rgba(175, 184, 163, 1) 94%,
      rgba(220, 232, 207, 1) 96%,
      rgba(220, 232, 207, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dce8cf', endColorstr='#dce8cf', GradientType=1 );
  }

  .eventClass:nth-of-type(3) {
    background-color: #c5edff;
    border-left: 3px solid #7db4cf;
    padding: 11px 5px !important;
    height: auto !important;
    transform: none;
  }

  .eventClass:last-of-type {
    background: #b992e0;
  }
}

.schedule-hours {
  background: #c0edff;
  border-radius: 4px;
  border-left: 3px solid #75b4cd;
}

.scheduler_default_corner {
  color: #0068af !important;
}

.scheduler_default_timeheadergroup,
.scheduler_default_timeheadercol {
  background: #f8f8f8 !important;
}

.scheduler_default_timeheadergroup_inner {
  border-right: 1px solid #f1f1f1 !important;
  border-bottom: 1px solid #f1f1f1 !important;
  color: #5b616a;
  font-weight: bold;
}

.scheduler_default_timeheadercol_inner {
  border-right: 1px solid #f1f1f1 !important;
  color: #696969;
}

.scheduler_default_divider_horizontal,
.scheduler_default_resourcedivider {
  background-color: #f1f1f1 !important;
}

.custom-check input {
  width: 30px;
  background: turquoise;
}

.scheduler_default_columnheader_cell_inner {
  color: #4e8ac9;
  font-family: "roboto";
  margin-left: 18px;
  text-transform: uppercase;
  padding: 0 !important;
}

.scheduler_default_main {
  border: none !important;
  box-shadow: none !important;
}

.scheduler_default_message {
  background: #c0edff !important;
  color: #3c424a !important;
}

.scheduler_default_event .scheduler_default_event_inner {
  background: none;
  border: none;
  padding-left: 10px;
  line-height: 1.4;
}

.scheduler_default_event_bar_inner {
  background: transparent !important;
  height: 0 !important;
}

.scheduler_default_rowheader_inner_text {
  color: #696969 !important;
  font-size: 13px;
  padding: 2px 0;
}

.scheduler_default_rowheader_inner {
  border: none !important;
  color: #696969 !important;
  :first-child {
    margin-left: 12px !important;
  }
}

.scheduler_default_rowheader {
  background: #fff !important;
  input {
    margin-left: 12px !important;
  }
}

.scheduler_default_divider,
.scheduler_default_splitter {
  background-color: #e7eaf0 !important;
}

.scheduler_default_columnheader_inner {
  background: #fff !important;
}

.scheduler_default_columnheader_splitter {
  border: none !important;
}

.scheduler_default_event_bar {
  display: none !important;
}

.scheduler_default_rowheader.scheduler_default_rowheader_selected {
  background: #d7deea !important;
}

.scheduler_default_cell.scheduler_default_cell_business.scheduler_default_cell_selected,
.scheduler_default_cell.scheduler_default_cell_selected {
  background: #d7deea !important;
}

.scheduler_default_cell.scheduler_default_cell_selected {
  background: #d7deea !important;
}

.scheduler_default_shadow_inner {
  background: #c0edff !important;
  opacity: 1 !important;
}

.input-box {
  margin-left: 10px;
}

.k-checkbox-label::before {
  border: 1px solid #d7deea;
}

.k-checkbox:checked + .k-checkbox-label::before {
  border: none;
  background-color: #4e8ac9;
}

.k-checkbox:checked + .k-checkbox-label::after {
  transform: scale(0.8);
}

.k-checkbox-label,
.k-radio-label {
  padding: 0 !important;
}

.area-open-menu {
  right: 0;
  top: 35px;
}

.k-i-more-vertical::before {
  font-size: 18px;
}

.column-link {
  justify-content: flex-start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: underline;
  display: flex;
  align-items: center;
  color: #399ad5;
}

::-webkit-scrollbar {
  width: 100%;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e6e7e8;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d7deea;
}

.cell,
.cell2 {
  display: none !important;
}

.cell.none,
.cell2.none {
  display: none !important;
}

.cell.flex-show,
.cell2.flex-show {
  display: flex !important;
  background-color: rgba(#d7deea, .3);
  padding: 10px 10px 10px 40px !important;
  border: 1px dashed #6EACED;
  &:hover {
    background-color: rgba(#d7deea, .6);
    border: 1px solid #4E8AC9;
  }
}

.scheduler_default_event_hover {
  color: white;
}

.scheduler_default_rowheader.scheduler_default_rowheader_selected {
  background-color: rgba(#D7DEEA, .33) !important;
}

.scheduler_default_cell.scheduler_default_cell_business.scheduler_default_cell_selected, .scheduler_default_cell.scheduler_default_cell_selected {
  background-color: rgba(#D7DEEA, .33) !important;
}

.none {
  display: none !important;
}

.scheduler_default_selected .scheduler_default_event_inner {
  background: #6eaced !important;
}

.schedule-hours:active,
.schedule-hours:hover {
  border-left: 3px solid #4e8ac9 !important;
}
